/* body, table, h1 = referencia elementos*/
/* " . " = referencia classes*/
/* " # " = referencia id*/

body{/*Global*/
    text-align: center;
    padding-left: 10%;
    background-color: black;
    color: aliceblue;
    
}
table{/*padrão de largura das tabelas*/
    width: 90%;
}
.toppag{/*unifica tabela no topo da pagina*/
    border-spacing: 0px;
}
.BarraLinksLateral{/*padding-bottom: 400px;*/
    position: absolute;
    padding-top: 40px;
    padding-left: 5.6%;
    padding-right: 5.6%;
    border: 0;
}
#idredeSociais{/*Nome "Redes Sociais" na aba contatos*/
    padding-top: 50px;
    font-family: Tahoma;
    font-size: 250%;
    font-style: oblique;
    color:darkblue;
}
.chamativo,.chamativo{/*Cor do texto chamativo para contato*/
    color: greenyellow;
}
.redeSociais {/*icons das redes sociais na aba contatos*/
    padding-left: 10cap;
    padding-top: 40px;
    padding-bottom: 90px ;
}
.textborder{
    text-align: left;
}
.enviar,.textborder{/*botão enviar na pagina contato*/
    padding-left: 35px;
    padding-right: 35px;
    font-family: Tahoma;
}
.enviar:hover{
    background-color: darkblue;
    color: rgb(253, 253, 253);
}
.enviar,.inputContato{/*botão enviar e input na pagina contato*/
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: darkblue;
}
.quadroFormContato,tr{
    background-color:dodgerblue
}
.mensagem{
    border-radius: 20px;
    width: 455px;
    height: 150px;
    border-color: darkblue;
}
.projetos{
    text-align: left;
}
a:visited{/*ação para links visitados*/
    color: white;
}
.foto{
    text-align:right;
    /*width:;*/
    width:30%;
}
td:hover{/**/
    
}
.links{/*Formatação de links em geral*/
    text-decoration: none
}